.container {
  display: grid;
  grid-template-rows: 20% 5% 5% 1fr;
  color: var(--color-primary);
  font-family: var(--font);
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h1 {
  text-transform: uppercase;
}
