@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Waiting+for+the+Sunrise&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary: rgb(116 126 140);
  --color-secondary: rgb(63 74 89);
  --color-tertiary: rgb(31 42 63);
  --color-quarternary: rgb(64 176 54);
  --color-background: rgb(242 238 232);

  /* Typography */
  --font: 'Lato', sans-serif;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font);
}

button {
  color: var(--color-background);
  background: var(--color-primary);
  border-radius: 0.6rem;
  padding: 0.5em 1em;
  border: none;
  transition: 0.2s opacity;
  text-transform: uppercase;
  font-size: 1.1rem;
}

button:hover {
  opacity: 80%;
}

button:active {
  opacity: 90%;
}

